*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

.head {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.5em;
}

.head .icon-name {
    display: flex;
    align-items: center;
}